:root {
  --first-color: #55555e;
  --second-color: #e2dfe9d7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto !important;
  max-width: 700px;
  margin-top: 100px;
  display: block;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2,
h3 {
  font-size: 40px;
}
h3{
  display: block;  
  letter-spacing: 0.05em;
  font-size: 20px !important;
  border-bottom: 1px solid var(--first-color);
  margin-top: 20px !important;;
  margin-bottom: 10px;
  padding-bottom: 10px; 
  
}



.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.links a {
  margin: 20px;
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-me {
  background: var(--first-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-me {
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.email {
  
  justify-content: center;
  color: var(--first-color);
  font-size: 20px;
  text-decoration: none;
}
.contact-me:hover,
.about-me:hover,
a.primary-link:hover
{  
  color: var(--second-color);
}
.email:hover {
  color: var(--first-color);
  text-decoration: underline;
}
.resume-title a{
  text-decoration: none;
  color: var(--first-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--first-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
footer .contact-box {
  display: block;
  margin: 0 auto;
  background: var(--second-color);
  padding: 10px 30px;
  border-radius: 4px;
}
.gitLink {
  color:var(--first-color);
  text-decoration: none;
}
.gitLink:hover{
  color:white;
}

.content h1 {
  font-size: 65px;
  line-height: 80px;
  }
  .content-container {
    padding: 160px 20px;
}
.content h2, p, a {text-align: left;  
}
#github{
  color: var(--first-color);
}
.content a:hover,
#github:hover{
  color: var(--second-color);
  transition: all 100ms ease-in-out;
}
